.text-grey {
    color: var(--gray-500);
}
.text-white {
    color: var(--gray-0);
}
.text-primary {
    color: var(--primary-main);
}
.text-secondary {
    color: var(--secondary-main);
}
.text-green {
    color: var(--success-main);
}
.text-red {
    color: var(--error-main);
}
.text-yellow {
    color: var(--warning-main);
}