@import url('./reset.css');
@import url("./loading.css");
@import url('./fonts.css');

:root {
    --primary-light: #0197ee;
    --primary-light-low-opacity: #0197ee36;
    --primary-main: #00629a;
    --primary-dark: #00395c;
    
    --secondary-light: #9e2896;
    --secondary-main: #791d73;
    --secondary-dark: #551151;
    
    --error-light: #ed0007;
    --error-main: #be0004;
    --error-dark: #920002;
    
    --warning-light: #ffcf00;
    --warning-main: #deb300;
    --warning-dark: #bd9900;
    
    --info-light: #18837e;
    --info-main: #116864;
    --info-dark: #0a4f4b;
    
    --success-light: #00884a;
    --success-main: #006c3a;
    --success-dark: #00512a;


    --gray-0: #ffffff;
    --gray-100: #eeeeee;
    --gray-200: #b9b9b9;
    --gray-300: #919191;
    --gray-400: #616161;
    --gray-500: #424242;
    --gray-600: #2b2b2b;
    --gray-700: #161616;
    --gray-full: #000000;


    --header-height: 5rem;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "BoschSans";
    background-color: var(--gray-100);
}
