<div [ngClass]="{
    'background': true,
    'loading': loading
}">
    <form
        class="container"
        [formGroup]="loginForm"
        (ngSubmit)="doLogin()"
    >
        <h2>Xpricefy</h2>

        <app-input
            label="Username"
            [(ngModel)]="loginForm.value.username"
            formControlName="username"
            [error]="loginForm.controls['username'].invalid && loginForm.controls['username'].touched"
        />

        <app-input
            label="Password"
            [(ngModel)]="loginForm.value.password"
            formControlName="password"
            [type]="'password'"
            [error]="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
        />

        <app-button>Login</app-button>
    </form>

    <div *ngIf="!populatedAccess;else populatedAccessDiv" class="populate-container">
        <p class="text-white">Testing this application? If so, let's populate the database and give you an access.</p>
        <app-button (click)="populate()">Populate Database!</app-button>
    </div>

    <ng-template #populatedAccessDiv>
        <div *ngIf="populatedAccess" class="populate-container">
            <p class="message text-white">Username: {{populatedAccess.username}}</p>
            <p class="message text-white">Password: {{populatedAccess.password}}</p>
            <app-button (click)="writeToFields()">Write to Fields</app-button>
        </div>
    </ng-template>
</div>