.background {
    background-image: url("../../../assets/images/background/bosch-colors.svg");
    background-size: cover;

    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 95%;
    max-width: 450px;
    margin: auto;

    background-color: var(--gray-0);
    padding: 4rem 2rem;

    display: flex;
    flex-direction: column;
    gap: 40px;

    & h2 {
        align-self: center;
    }

    & app-button {
        align-self: flex-end;
    }
}
